/* table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;
}

.tb {
    margin: auto;
}

.tb td {
    padding: 20px;
    text-align: center;
}

td img {
    width: 200px;
}

input {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
} */